table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #282828;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #282828
}

tr:nth-child(even) {
  background-color: #202020;
}