<html>
  <body>
    <link href="{{ url_for('static', filename='expand.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <center>
      <title>Besuche Resort {{cap}}</title>
    </center>
    <h1>Besuche Resort {{cap}}</h1>
    <h2>Menu</h2>
    {% for item in items %}
        <h3>Item name: {{item['Item']}}</p>
        <p>Price: {{item['Cost']}}</p>
        <p>Amount of XP you gain: {{item['XP']}}</p>
        <a href="/buy{{nocap}}item/{{item['Item']}}">Buy {{item['Item']}}</a>
        <br>
        <br>
    {% endfor %}
    <script src="{{ url_for('static', filename='expand.js') }}"></script>
  </body>