<html>
<body>
<head>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
<link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
<title>Besuche Resort Guide</title>
</head>
<h2><a href="/">Home</a></h2>
<br>
<h1 id="besuche-resort-guide">Besuche Resort Guide</h1>
<p>Besuche Resort is a game where you are at a resort and see it as a great opportunity to get money. You decide to explore the place and see that there is lots of money lying around the place. </p>
<p><strong>Time to get some money!</strong></p>
<h2 id="some-important-notes-">Some important notes:</h2>
<ul>
<li>The game&#39;s website uses an expanding function, so if you are looking for a form and only see a word on the page, try clicking on the word. </li>
<li>If I talk about the 3D, 2D, or Website Places, you can find out which places are which by looking at the navigation bar on the home page.</li>
<li>You need to signup and login onto the website to be able to do anything. You don&#39;t need any personal information in signing up, just a username of your choice and a password to protect your account</li>
<li>The currency in this game is rupees, it&#39;s the Indian currency and has the symbol ₹</li>
</ul>
<p><strong>Let&#39;s get started!</strong></p>
<h2 id="some-main-pages">Some main pages</h2>
<ul>
<li><a href="https://BesucheResort.vulcanwm.repl.co/">Home Page</a>: here is where you can see the navigation bar where the links to all the pages are</li>
<li><a href="https://BesucheResort.vulcanwm.repl.co/profile">Profile Page</a>: here you can see how much money you have in your wallet and bank, how much your bank space is (bank space is how much money you can have in your bank account), how much XP and health you have, how much your login streak is (if you collect your daily in more than a day and less than 2 days your login streak increases by 1, the more highers your login streak is the more money you get when you claim your dailies), which items you have, and what action items you have.</li>
<li><a href="https://BesucheResort.vulcanwm.repl.co/notifs">Notifications Page</a>: you can check all your notifications there. If someone robs you or something, you will get a notification. If the notifications are red, you haven&#39;t seen it. If it is green, you have seen it.</li>
<li><a href="https://BesucheResort.vulcanwm.repl.co/rules">Rules Page</a>: All of the rules for the game is here.</li>
</ul>
<hr>
<h2 id="three-dimensional-places">Three Dimensional Places</h2>
<ul>
<li><strong>Beach</strong>: The beach is an amazing place to visit! It has a floatie, a beach ball and a cool tree!</li>
<li><strong>Outdoor Swimming Pool</strong>: The swimming pool is a fully functional pool that has working waves!</li>
<li><strong>Disco</strong>: You can earn money at the disco just by visiting.</li>
</ul>
<h2 id="website-places">Website Places</h2>
<p>The places highlighted are either places you can earn xp and lost health from. The non-highlighted are places you can gain and loose money from.</p>
<ul>
<li><strong>Shop</strong></li>
<li><strong>Bar</strong> </li>
<li><strong>Resturant</strong></li>
<li><strong>Cafe</strong></li>
<li>Casino</li>
</ul>
<h2 id="two-dimensional-places">Two Dimensional Places</h2>
<ul>
<li><strong>Indoor Swimming Pool</strong>: This swimming pool has 2 floaties!</li>
<li><strong>Cinema</strong>: You can see a huge grey screen.</li>
<li><strong>Toddler&#39;s Area</strong>: Play with building blocks and make something imaginative!</li>
</ul>
<h2 id="commands">Commands</h2>
<p><a href="https://besucheresort.vulcanwm.repl.co/rob">Rob</a>, <a href="https://besucheresort.vulcanwm.repl.co/leaderboards">Leaderboard</a>, <a href="https://besucheresort.vulcanwm.repl.co/daily">Daily</a>, <a href="https://besucheresort.vulcanwm.repl.co/withdraw">Withdraw</a>, <a href="https://besucheresort.vulcanwm.repl.co/deposit">Deposit</a></p>
<h4 id="rob">Rob</h4>
<ul>
<li>Rob is completed and it allows users or guests to rob other people that has money. </li>
</ul>
<ul>
<li>To rob someone, all you have to do is <strong>click on the word, rob</strong>. Then it&#39;ll open a prompt inside of the website asking who you would like to rob.</li>
</ul>
<h4 id="leaderboard">Leaderboard</h4>
<ul>
<li>Leaderboard shows  who has the most money in their wallet, who has the most money in their bank account, and finally who has the most bank space.</li>
</ul>
<h4 id="daily">Daily</h4>
<ul>
<li>The daily part of the commands is fully functional and gives money every 24 Hours. </li>
</ul>
<h4 id="withdraw">Withdraw</h4>
<ul>
<li>This function allows you to withdraw all the money you have in your bank.</li>
</ul>
<h4 id="deposit">Deposit</h4>
<ul>
<li>You can deposit as much bank space as you have.</li>
</ul>
<h2 id="background-functions">Background functions</h2>
<ul>
<li>Finding Money and Items in places: if you go to a 2D or 3D place or the casino, there is a 1/20 chance of finding some money, and a 1/1000 chance of finding a bank note (which is what you use to get more bank space)</li>
<li>XP and Health: every minute you are on the website, you get 1-5 XP and lose 1-5 Health</li>
</ul>
<hr>
<h2 id="items">Items</h2>
<ul>
<li><strong>Bank Notes</strong>: They can help you grow your bankspace.</li>
<li><strong>Padlock</strong>: If you have a padlock activated, then if someone tries to rob you, they will have to give you some of their money instead. Unfortunately, there is a 1 in 5 chance of the padlock breaking.</li>
<li><strong>Camera</strong>: If you have a camera activated, then if someone tries to rob you, they will have to give you all of their money instead. Unfortunately, there is a 1 in 2 chance of the camera breaking. Note that if you have both a camera and padlock activated, the camera will be used first.</li>
<li><strong>Fake Id and Robber&#39;s Wishlist</strong>: If you have a fake id, your name will be hidden from the money leaderboard so people won&#39;t be able to see that you have loads of money, thus won&#39;t want to rob you. But if someone has a robber&#39;s wishlist, they will be able to see everyone&#39;s name in the money leaderboard, including people with a fake id.</li>
</ul>
<hr>
<h1 id="-click-here-https-besucheresort-vulcanwm-repl-co-to-play-"><strong>Click <a href="https://BesucheResort.vulcanwm.repl.co/">here</a> to play!</strong></h1>
</body>
</html>
