<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='navbar.css') }}" rel="stylesheet" type="text/css" />
    <title>Besuche Resort</title>
  </head>
    <body>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/notifs">Notifications</a></li>
        <li><a href="/rules">Rules</a></li>
        <li><a href="/guide">Guide</a></li>
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">3D Places</a>
          <div class="dropdown-content">
            <a href="/beach">Beach</a>
            <a href="/outdoorpool">Outdoor Swimming Pool</a>
            <a href="/disco">Disco</a>
          </div>
        </li>
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Website Places</a>
          <div class="dropdown-content">
            <a href="/bar">Bar</a>
            <a href="/restaurant">Restaurant</a>
            <a href="/cafe">Cafe</a>
            <a href="/casino">Casino</a>
            <a href="/shop">Shop</a>
          </div>
        </li>
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">2D Places</a>
          <div class="dropdown-content">
            <a href="/indoorpool">Indoor Swimming Pool</a>
            <a href="/cinema">Cinema</a>
            <a href="/toddlersarea">Toddler's Area</a>
          </div>
        </li>
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Commands</a>
          <div class="dropdown-content">
            <a href="/rob">Rob</a>
            <a href="/leaderboards">Leaderboards</a>
            <a href="/daily">Daily</a>
            <a href="/withdraw">Withdraw</a>
            <a href="/deposit">Deposit</a>
          </div>
        </li>
        <!-- <li><a href="/logout">Logout</a></li> -->
      </ul>
      <p>Besuche Resort is a game where you are at a resort and see it as a great opportunity to get money. You decide to explore the place and see that there is lots of money lying around the place.</p>
      <p><b>Time to get some money!</b></p>
      
      <p>Click on <a href="https://BesucheResort.vulcanwm.repl.co/guide">here</a> for a guide on how to use the website.</p>
      <p>Click on <a href="https://BesucheResort.vulcanwm.repl.co/rules">here</a> for the rules. </p>
      <hr>
      <p>If you want another place in the resort, and have code of it, make an issue in <a href="https://github.com/VulcanWM/Besuche-Resort/issues">the GitHub repo</a> with the code so I can check it out and add it to the resort. If you do, you will also be mentioned in the credits below. </p>
      <p>If you have any ideas for the game, also make an issue in the GitHub repo above and I&#39;ll try to implement it as soon as possible</p>
      <hr>
      <p>Credits:</p>
      - <a href="https://repl.it/@Nayoar"><code>@Nayoar</code> on Replit</a> for the <code>expand.js</code> and <code>expand.css</code> files
      <br>
      - <a href="https://repl.it/@ch1ck3n"><code>@ch1ck3n</code> on Replit</a> for the login, signup and error page <code>css</code>
      <br>
      - <a href="https://repl.it/@SixBeeps"><code>@SixBeeps</code> on Replit</a> for recommending A-Frame and the Beach page code
      <br>
      - <a href="https://repl.it/@JBloves27"><code>@JBloves27</code> on Replit</a> for helping me so many of my bugs
      <br>
      - <a href="https://repl.it/@HyperDev100"><code>HyperDev100</code> on Replit</a> for the Toddler&#39;s Area code (they also got most of the code from GitHub)
      <br>
      - <a href="https://codepen.io/okra"><code>@okra</code> on Codepen</a> for the disco ball code
      <br>
      - <a href="https://codepen.io/__akash__19"><code>@__akash__19</code> on Codepen</a> for the Indoor Swimming Pool code
      <br>
      - <a href="https://codepen.io/warrendunlop"><code>@warrendunlop</code> on Codepen</a> for the success page code
      <br>
      - <a href="https://www.w3schools.com/"><code>w3schools</code></a> for the navbar code
      <br>
      - <a href="https://repl.it/@candies"><code>@candies</code> on Replit</a> for the help with the guide
      <br>
      - <a href="https://dankmemer.lol/"><code>Dank Memer</code></a> for the inspiration and item names
      <br>
      <br>
      <p>Thank you guys. I wouldn&#39;t have made this without all of this help.</p>
  </body>
</html>