<html>
  <body>
    <link href="{{ url_for('static', filename='expand.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='indoorpool.css') }}" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <center>
      <title>Besuche Resort Indoor Swimming Pool</title>
      <h2><a href="/">Home</a></h2>
    </center>
    <div class="container">
      <div class="swim-pool-container">
          <div class="swim-pool-container-left"></div>
          <div class="swim-pool-container-right"></div>
          <div class="tyre tyre1"></div>
          <div class="tyre tyre2"></div>
          <div class="stairs">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
          </div>
      </div>
    </div>
  </body>
</html>