<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
  </head>
  <body>
    <a-scene cursor="rayOrigin: mouse">
      <a-assets>
        <img id="homeThumbnail" src="{{ url_for('static', filename='picbeach.png') }}">
      </a-assets>

      <a-image id="clickable" src="#homeThumbnail" position="0 2 0" rotation="-90 0 0"></a-image>
      <script>
        document.getElementById("clickable").addEventListener("click", function(e) {
          window.location.replace("https://Namaste.vulcanwm.repl.co/beach");
        });
      </script>
      <a-plane position="0 0 0" rotation="-90 0 0" width="100" height="100" color="#EFDD6F"></a-plane>
      
      <a-sky color="#87CEEB"></a-sky>

      
    </a-scene>
  </body>
</html>