<html>

<head>
  <title>Besuche Hotel Outdoor Pool</title>
  <script src="https://aframe.io/releases/0.6.0/aframe.min.js"></script>

  <script src="https://unpkg.com/aframe-extras.ocean@%5E3.5.x/dist/aframe-extras.ocean.min.js"></script>
</head>

<body>
  
    <a-scene>
    <a-sky id="background-img" color="#adf"></a-sky>
    <a-entity id="ocean" position="0 -2 0" ocean="density: 50; width: 50; depth: 50; speed: 7" material="color: #060660; opacity: 0.75; metalness: 0; roughness: 1" rotation="-90 0 0"></a-entity>
  </a-scene>


</body>

</html>