<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='profile.css') }}" rel="stylesheet" type="text/css" />
    <title>Besuche Resort - {{user['Username']}}</title>
  </head>
    <body>
      <h2><a href="/">Home</a></h2>
      <h1>{{user['Username']}}</h1> 
      <p>Money: ₹{{user['Money']}}</p>
      <p>Money in bank: ₹{{user['Bank']}}</p>
      <p>Bank space: ₹{{user['Bank-Space']}}</p>
      <p>XP: {{user['XP']}}</p>
      <p>Health: {{user['Health']}} </p>
      {% if user['Items'] == [] %}
        <p>{{user['Username']}} has no items!</p>
      {% else %}
        <h3>Items</h3>
          {% for item in items.keys() %}
            {% if items[item] != 0 %}
              <p>Item: {{item}}</p>
              <p>Amount: {{items[item]}}</p>
              <a href="/use{{item}}">Use {{item}}</a>
            {% endif %}
          {% endfor %}
      {% endif %}
      <h3>Active Items</h3>
      {% for active in activeitems %}
        <p>{{active}}: {{activeitems[active]}}</p>
      {% endfor %}
    </body>
</html>