<html>
  <body>
    <link href="{{ url_for('static', filename='expand.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <center>
      <title>Besuche Resort Commands - Robbing</title>
      <h2><a href="/">Home</a></h2>
      <div class="auth">
        <div class="expandable section auth-box">
          <h2>Rob</h2>
          <div class="expand">
            <div class="login-form-body">
              <div class="login-form-heading">
                <br>
              </div>
              <div class="login-form-form">
                <form method="POST" action="{{ url_for('robfunc') }}">
                  <input class="login-form-input" placeholder="username" name="username"><br>
                  <button class="login-form-button">Rob</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </center>
    <script src="{{ url_for('static', filename='expand.js') }}"></script>
  </body>
</html>