<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='profile.css') }}" rel="stylesheet" type="text/css" />
    <title>Besuche Resort Rules</title>
  </head>
    <body>
      <center>
        <h2><a href="/">Home</a></h2>
        <h1>Besuche Resort Rules</h1>
        <dl>
          <dt>Rule 1: Do not make scripts to gain money or other in game things</dt>
          <dd>This will result in an account deletion and ban</dd>
          <br>
          <dt>Rule 2: Do not use any swear words or innapropriate references in cabin names or any other things</dt>
          <dd>This will result in a warning first, then an account deletion the second time</dd>
          <br>
          <dt>Rule 3: Do not make any alt accounts to get more money or any game stuff</dt>
          <dd>This will result in all of your accounts getting deleted and a ban</dd>
          <br>
          <dt>Rule 4: Do not abuse or exploit bugs</dt>
          <dd>This will result in an account deletion and ban</dd>
          <br>
          <dt>Rule 5: Multiple people cannot share accounts</dt>
          <dd>This will result in an account deletion</dd>
          <br>
          <dt>Rule 6: You cannot fork this project and make it your own without giving VulcanWM credit</dt>
          <dd>That will result in serious consequences</dd>
          <br>
          <dt>Rule 7: Use your common sense with these rules. We cannot write all of the rules in the world down.</dt>
          <br>
        </dl>
      </center>
    </body>
</html>